:root {
  --rad: 12px;
  --bg-acc: #08172b;
  --bg-acc-alt: #183458;
  --font-size: 16px;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  color: #fff;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-family: Calibri;
  font-size: var(--font-size);
}

.blue {
  background-color: #63a4ff;
  background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
}
.green {
  background-color: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
}
.pink {
  background-color: #7F7FD5;
  background-image: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}
.purple {
  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
}
.yellow {
  background-color: #f39f86;
  background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
}

.field {
  background: var(--bg-acc-alt);
  opacity: 0.8;
  border-radius: var(--rad);
  padding: 20px;
}

.code-input {
  margin: 5% 0;
  height: 55%;
  width: 80%;
}
.code {
  display: flex;
  height: 100%;
}
.code-item {
  width: 100%;
  height: 100%;
  display: flex;
}
.input {
  height: 100%;
  flex: 85%;
  margin: 0px 5px 0px 0px;
}
.data {
  flex: 15%;
  margin: 0px 0px 0px 5px;
  overflow-y: scroll;
}
.data .line-counter {
  flex: 20%;
}
.data .code-editor {
  flex: 80;
}
.line-counter {
  flex: 5%;
  width: 5%;
}
.code-editor {
  flex: 95%;
  width: 95%;
}
textarea {
  padding: 0px;
  width: 100%;
  height: 100%;
  background: transparent;
  opacity: 1;
  border: none;
  resize: none;
  font-size: 15px;
  color: #fff;
  overflow: scroll;
  white-space: nowrap;
}
textarea:focus {
  outline: none;
}

.info {
  position: fixed;
  bottom: 10%;
  width: calc(80% - 40px); 
}
.info h1 {
  margin-top: 0px;
  text-align: center;
}

/* Selection */
/* The container must be positioned relative: */
.custom-select {
  position: relative;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: var(--bg-acc-alt);
  border-radius: var(--rad);
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-arrow-active.select-selected {
  border-radius: var(--rad) var(--rad) 0px 0px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  padding: 10px 16px;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: var(--bg-acc-alt);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 0px 0px var(--rad) var(--rad);
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
.select-items div:last-child {
  border-radius: 0px 0px var(--rad) var(--rad);
}

.warning {
  background-color: yellow;
  color: black;
}