<!DOCTYPE html>
<html>
<head>
  <title>Code Counter</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  
  <script src="{{ url_for('static', filename='js/editor.js') }}"></script>
  <script src="{{ url_for('static', filename='js/select.js') }}"></script>
</head>
<body onload="editor_start()" class="blue">

  <div class="code-input">
    <div class="top"></div>
    <div class="code">
      <div class="code-item input field">
        <div class="line-counter">

        </div>
        <div class="code-editor">
          <textarea placeholder="Code..." id="input"></textarea>
        </div>      
      </div>

      <div class="code-item data field">
        <div class="line-counter">

        </div>
        <div class="code-editor" id="information">
        </div>
      </div>
    </div>
  </div>

  <div class="field info">
    <h1>Settings</h1>
    
    <div class="setting-options-values-item info-item">     
      <div class="custom-select" style="width: 150px;">
        <select>
          <option value="default">Background</option>
          <option value="blue">Blue</option>
          <option value="green">Green</option>
          <option value="pink">Pink</option>
          <option value="purple">Purple</option>
          <option value="yellow">Yellow</option>
        </select>
      </div>   
    </div>

    <div id="options info-item">
      <input type="radio" id="sb" name="b_option" value="sb" checked>
      <label for="sb">Square brackets []</label><br>
      <input type="radio" id="cb" name="b_option" value="cb">
      <label for="cb">Curly brackets {}</label><br>
      <input type="radio" id="rb" name="b_option" value="rb">
      <label for="rb">Round brackets ()</label>
      <input type="radio" id="ab" name="b_option" value="ab">
      <label for="ab">Angle brackets &lt;&gt;</label>
    </div>
  </div>
</body>
</html>